/* font */
@font-face {
  font-family: 'Phenomena-Bold';
  src:url('../fonts/Phenomena-Bold.woff');
}
@font-face {
  font-family: 'Phenomena-Regular';
  src:url('../fonts/Phenomena-Regular.ttf');
}
$fontJ : "TsukuARdGothic-Regular",sans-serif;
$fontE : "Phenomena-Regular",sans-serif;

//color
$gray:#313131;
$purple:#e8dbf7;
$green:#a7f4d3;
$yellow:#fefd68;
$pink:#fdddec;
$blue:#b7e3fc;

@mixin parent($height){
  height:$height;
  position: relative;
  z-index:10;
}
@mixin subtitle {
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  margin: 0 auto;
  padding: 3% 0;
  height:30px;
  line-height: 30px;
  color:$gray;
}

html,body{
  margin: 0 auto;
  width:100vw;
  font-family: $fontE,$fontJ;
}
*{
  box-sizing:border-box;
}
header{
  position: fixed; 
  width:30%;
  height:20%;
  top:0;
  right:0;
  z-index: 100;
  @mixin triangle($z,$top,$right){
    position: absolute;
    width:140px;
    z-index: $z;
    top:$top;
    right:$right;
    transition: all .4s;
  }
  .yellow{
    @include triangle(20,6vh,48px);
  }
  .purple{
    @include triangle(15,4.5vh,65px);
  }
  .menu-trigger,.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    width: 30px;
    height: 23px;
    position: absolute;
    top:10vh;
    right:117px;
    z-index: 30;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #313131;
    border-radius: 3px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 10px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  nav{
    ul{
      list-style: none;
      margin-top: 4%;
      .li{
        opacity: 0;
        line-height: 20px;
        text-align: center;
        border-bottom:dashed #999999;
        font-size: 20px;
        @mixin child($left,$deg){
          width:100px;
          height:20px;
          margin-top:1.7vh;
          margin-left: $left;
          transform: rotate($deg);
          transition: all .4s;
        }
        &:nth-child(1){
          @include child(75px,14deg);
        }
        &:nth-child(2){
          @include child(60px,5deg);
        }	
        &:nth-child(3){ 
          @include child(60px,-5deg);
        }	
        &:nth-child(4){
          @include child(75px,-14deg);
        }
        a{
          text-decoration: none;
          span{
            color: #666666;
            letter-spacing: 5px;
          }
        }
      }
    }
  }

  // メニューバーを押した時
  @mixin active($top,$right,$deg){
    transform: rotate($deg) translateY($top) translateX($right);
    transition-duration: .4s;
  }
  .yellow.active{
    @include active(0vh,12px,180deg);
  }
  .purple.active{
    @include active(-.5vh,-12px,180deg);
  }
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .menu-trigger.active span:nth-of-type(2) {
    left: 50%;
    opacity: 0;
    -webkit-animation: active-menu-bar02 .8s forwards;
    animation: active-menu-bar02 .8s forwards;
  }
  @-webkit-keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }
  @keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
  }
  nav{
    ul{
      .active{
        @keyframes childAnimation {
          0%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        }
        @mixin childActive{
          animation: childAnimation .4s;
        }
        &:nth-child(1){
          @include childActive;
        }
        &:nth-child(2){
          @include childActive;
        }	
        &:nth-child(3){ 
          @include childActive;
        }	
        &:nth-child(4){
          @include childActive;
        }
      }
    }
  }
}

main{
  z-index: -1;
}

#top{
  @include parent(100vh);
  div{
    width:auto;
    height:auto;
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0px;
    background-color: #f2f2f2;
    transform: translateY(-50%) skewY(3deg) ;
    z-index: -5;
    .name{
      font-size: 80px;
      letter-spacing: 20px;
      display: inline-block;
      margin:2% 0% 2% 25%;
      transform: skewY(-3deg);
    }
    .site{
      font-size: 40px;
      letter-spacing: 15px;
      text-align: center;
      margin: 0 0 2% 10%;
      transform: skewY(-3deg);
    }
  }
}

#profile{
  @include parent(100vh);
  h2{
    @include subtitle;
  }
  .profileBox{
    display: flex;
    height:calc(94% - 30px);
    transform: translateY(calc(-30px - 3%));
    .proImgBox{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:40%;
      height:100%;
      
      img{
        width:25vw;
        height:25vw;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .details{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:60%;
      height:100%;
      text-align: center;
      vertical-align: middle;
      p{
        font-family: $fontJ;
      }
      table{
        font-family: $fontJ;
      }
    }
  }
}

#work{
  @include parent(auto);
  h2{
    @include subtitle;
  }
  article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0 30px;
    div{
      width:600px;
      margin:10px;
      
      img{
        width:100%;
      }
    }
  }
}

#skill{
  @include parent(auto);
  h2{
    @include subtitle;
  }
  @mixin skills($line,$color){
    padding:100px 0;
    height:8vw;
    .skillName{
      span{
        margin: 30px 0;
        width:10vw;
        height:10vw;
        background-color: $color;
        display: table-cell;
        border-radius: 50%;
        text-align: center;
        font-family: $fontE;
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: bold;
        color:$gray;
        vertical-align: middle;
        padding-top: 20px auto;
      }
    }
    .skillBox{
      padding: 30px 0 30px 30px;
      width: auto;
      img{
        width:4vw;
      }
    }
  }
  table{
    width:100%;
    padding:0 250px;
    .html{
      // 11 - imgの個数
      @include skills(1,$yellow);
    }
    .js{
      @include skills(4,$green);
    }
    .jQuery{
      @include skills(1,$purple);
    }
    .java{
      @include skills(7,$pink);
    }
    .rails{
      @include skills(8,$yellow);
    }
    .design{
      @include skills(7,$blue);
    }
  }
}

#contact{
  @include parent(100vh);
  h2{
    @include subtitle;
  }
  div{
    width:auto;
    height:auto;
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0px;
    background-color: #f2f2f2;
    transform: translateY(-50%) skewY(-3deg) ;
    z-index: -5;
    @mixin contact($font,$size){
      text-align: center;
      font-family:$font;
      transform: skewY(3deg);
      font-size: $size;
      color:$gray;
    }
    .contactJ{
      @include contact($fontJ,20px);
      margin-top:4%;
    }
    a{
      text-decoration: none;
      .contactE{
        @include contact($fontE,20px);
        letter-spacing: 2px;
        margin-bottom:4%;
        img{
          height:20px;
          margin:0 20px;
        }
        &:hover{
          font-size: 21px;
          transition-duration: .5s;
        }
      }
      
    }
  }
}